body {
  margin: 0;
  color: #282C34;
  font-family: sans-serif;
}

p {
  font-family: 'Varela Round', sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  font-family: 'Sacramento', cursive;
}

a:link {
  color: #8AB471;
  text-decoration: none;
  font-weight: bolder;
}
a:visited {
  color: #8AB471;
  text-decoration: none;
}
a:hover {
  color: #c8e6f5;
  text-decoration: underline;
}
a:active {
  color: #c8e6f5;
  background-color: #993333;
  text-decoration: none;
}

.intro-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 45%;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  text-align: justify;
  clear: both;
}

.hello {
  float: left;
  margin-right: 3rem;
  font-size: 3.5rem;
  width: 100%;
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
}

.adj {
  font-size: 1rem;
  width: 100%;
  margin: 0;
  padding-left: 1.5rem;
  color: hsla(0, 81%, 20%, 0.50);
}

.navi {
  width: 10%;
  float: right;
  margin-left: 3rem;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  color: #5e0a0a;
  height: 2rem;
  width: 75%;
  margin: 0 auto;
  border: 5px #5e0a0a;
  padding-bottom: 1rem;
}

.index-img1 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #282C34;
  display: flex;
}

.index-img1 {
  background-image:url('images/Dallas.jpg');
  background-size: contain;
  opacity:0.30;
  width: 60%;
  padding-top: 120px;
  padding-bottom: 120px;
  color:#c8e6f5;
  margin: 0 auto;
  font-family: 'Varela Round', sans-serif;
  font-weight: bolder;
}

.div-title {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.25rem;
}

.text-bg {
  position: relative;
  align-content: center;
  padding-left: 1rem;
}

.text-bg:after {
  content:'';
  position:absolute;
  background-color: #5e0a0a;
  left:0;
  width:100%; height:100%;
  padding-right: 1rem;
  border-radius: 4px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity:.6;
  z-index:-1;
}

.div-float {
  width: 60%;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  font-size: 1.25rem;
  text-align: justify;
  clear: both;
}

.round-button {
  background-color: #5e0a0a;
  border: none;
  color: #8AB471;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 6rem;
}

.social-media {
  width: 4rem;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 3rem;
  right: 0;
  background-color: #8AB471;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  opacity:0.60;
  border-radius: 8px;
}

.fa {
  padding: 0.75rem;
  width: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #5e0a0a;
  color: #8AB471;
}

.fa:hover {
  opacity: 0.7;
  color: #c8e6f5;
}

@media (max-width: 1028px) {
  h1 {
    font-size: 1.75rem;
  }

  .navi-bar {
    width: 100%;
  }

  .index-img1 {
    width: 100%;
  }

  .book-img1 {
    width: 100%;
  }

  .div-title{
    width:100%;
    font-size: 1.25em;
  }

  .social-media {
    width: 2rem;
    position: fixed;
    top: 2rem;
    right: 0;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
  }

  .fa {
    padding: 0.5rem;
    width: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .img-lfloat {
    width: 45%;
    float: left;
    margin-bottom: 0.5rem;
  }

  .img-rfloat {
    width: 45%;
    float: right;
    margin-bottom: 0.5rem;
  }

  .div-float-sm {
    clear: both;
  }
}
